<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997992678245-u8hqegvk2nb6p63gihqd0nkp3vr4ae0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997992678245-u8hqegvk2nb6p63gihqd0nkp3vr4ae0v</string>
	<key>API_KEY</key>
	<string>AIzaSyCK4uGzUbdb4z0MHIHHVqu5UxKcXGBAdEw</string>
	<key>GCM_SENDER_ID</key>
	<string>997992678245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>udemy.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-1319d</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-1319d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997992678245:ios:841449ceccd3cfc4dfd78c</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-1319d.firebaseio.com</string>
</dict>
</plist>